[Unit]
Description=stream camera to session host
After=network.target session.service
Wants=vw.service

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/ffmpeg-camera

[Install]
WantedBy=multi-user.target
